@charset "utf-8";
/* CSS Document */
*{margin: 0;padding: 0;}
html,body{height: 100%;}
ul,li{
    list-style: none;
    margin: 0;
    padding: 0;
}
img{
    list-style: 0;
    border:none;
}
.wrap{
    min-width: 1024px;
    height: 100%;
    min-height: 600px;
    position: relative;
}
header{text-align: right;display: block\9;}
nav{
    padding-top: 20px;
    padding-right: 20px;
    *display: inline-block;
}
nav a{
    color:#333333;
    font-size: 13px;
    font-weight: bold;
    text-decoration: underline;
    margin-left: 15px;
    line-height: 120%;
}
nav a:hover{
    color: blue;
}
nav a.font_nor{font-weight: normal;}
nav a.button{
    background: #38f;
    color: #fff;
    font-weight: normal;
    height: 24px;
    line-height: 24px;
    display: inline-block;
    text-decoration: none;
    padding: 0 5px;
}
.contain{
    text-align: center;
}
form{margin-top:22px;font-size: 0;}
.search_text{ 
    width:540px;
    height: 34px;
    border:1px solid #b6b6b6;
    text-indent: 10px;
    outline: 0;
    *padding-left: 1em;
    line-height: 34px;
}
.seachfield{position: relative;display: inline-block;}
.cameraico{
    background: url(../images/camera.png) no-repeat;
    width:18px;
    height: 18px;
    position: absolute;
    top:10px;
    right:20px;
}
.cameraico:hover{background-position: 0 -20px;}
form .button{
    font-size: 15px;
    width:100px;
    height: 36px;
    background: #3385ff;
    color: #fff;
    border:none;
    vertical-align: top;
    cursor: pointer;
    *margin-top:1px;
}
form .button:hover{
    box-shadow: 1px 1px 1px #ccc;
    background: #317ef3;
}
footer{
    text-align: center;
    position: absolute;
    bottom: 50px;
    display: block\9;
    width:100%;
    font-size: 0;

}
.f_con,.f_inline{
    display: inline-block;
    *display:inline; 
    *zoom:1;
    text-align: left;
    vertical-align: top;
}
.f_inline{margin-right: 28px;}
.f_inline span{
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
    font-size: 13px;
    margin-left: 6px;
    color: #898989;
}
.f_inline span b{
    line-height: 20px;
    color: #666;
}
.f_con>p{
    margin-top: 0;
    font-size: 13px;
    color: #898989;
    line-height: 22px;
}
.f_con>p>a{
    color: #898989;
    font-size: 13px;
}
.f_con>p i{
    background-image:url(../images/icons.png);
    background-repeat: no-repeat;
    width: 14px;
    height: 17px;
    display: inline-block;
}
.icon10{
    background-position: -2px -1px;
    position: relative;
    top: 3px;
}
.icon11 {
    background-position: -25px 0px;
    position: relative;
    top: 3px;
    margin-right: 6px;
}
.ml50{margin-left: 50px;}
.add {
    display: none;
    position: absolute;
    width: auto;
    top: 24px;
    right: 82px;
    font-size: 13px;
    color: #898989;
    padding-top: 20px;
}
.add ul{
    border: 1px solid #dedede;
    background: #fff;
}
.add ul li{
    line-height: 150%;
    cursor: pointer;
    padding: 5px 8px;
}
.add ul li:hover{
    background: #3385ff;
    color: #fff;
}
.morepro{
    display: none;
    position: absolute;
    width:auto;
    right: 0;
    top:0;
    bottom: 0;
}
.morecon{
    width: 85px;
    min-height: 100px;
    border-left: 1px solid #e7e7e7;
    background-color: #f9f9f9;
    overflow: hidden;
    font-size: 13px;
    color: #898989;
    text-align: center;
    height: 100%;
}
.morecon p.moretitle {
    height: 43px;
    line-height: 43px;
    padding-top: 9px;
    border-bottom: #f0f0f0 1px solid;
    color: #333;
    font-size: 13px;
}
.morecon>a{
    display: block;
    color: #333;
    width: 66px;
    padding-bottom: 9px;
    margin: 0 auto 10px;
    border-bottom: #f0f0f0 1px solid;
    font-size: 13px;
    text-decoration: none;
}
.morecon a:hover{text-decoration: underline;}
.morecon a span{
    width:36px;
    padding-top:36px;
    display: inline-block;
    background: url(../images/moreproicon.png) no-repeat;
    margin: 10px 10px 5px;
}
.morecon .music{
    background-position: -72px 0;
    width:40px;
}
.morecon .pic{background-position: -112px 0;}
.morecon .konw{background-position: -36px 0;}
.morecon .konwsheet{background-position: -146px 0;}
.morecon .topbang{background-position: -184px 0;}
.morecon .tuiguang{background-position: -220px 0;}
