@charset "utf-8";
/* CSS Document */

/***********phone start************/
@font-face {
    font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('iconfont.woff') format('woff'), /* chrome、firefox */
    url('iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
.page{
    display: none;
}
/*****************header************************/
.phone-header{
    position: relative;
    text-align: center;
    background: #3e89f0 url("../images/bg-news-logo.png") no-repeat center center;
    background-size: 65px auto;
    height: 48px;
    border-bottom: 1px solid #5dabf0;
}
.user-info{
    text-align: right;
}
.user-info>*{
    display: inline-block; 
    margin-top: 12px;
}
.icon-search{
    background: url(../images/search.png) no-repeat center center;
    width: 19px;
    height: 19px;
    display: inline-block;
    background-size: 100%;
    vertical-align: top;
    margin-top: 2px;
}

.view-nav{
  background-color: #3e98f0;
  overflow: hidden;
}
.view-nav ul li{
    float: left;
    width: 16.66666%;
    text-align: center;
    padding: 10px 0;
}
.view-nav ul li a{
    border-left: 1px solid #5dabf0;
    display: block;
    color: #fff;
}
/*************content************/

/****************新闻关注***************/
.tab-news{background: #fff;}
.news-item{
    margin: 0 20px;
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
}
.news-head{padding-top: 10px;}
.news-item h2 {
  font-weight: normal;
  color: #333;
  font-size: 18px;
  line-height: 26px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.new-content{
    margin: 8px 0 12px 0;
    font-size: 0;
}
.news-imginline{
    width: 33%;
    margin-right: 1px;
    display: inline-block;
}
.news-item img{width: 100%;}
.news-from span{
    margin-right: 8px;
    font-size: 13px;
    color: #999;
    display: inline-block;
    height: 13px;
    vertical-align: top;
}
.news-from .news-iconhot{
    color: #f13f40;
    font-size: 11px;
    border: 1px solid #efb9b9;
    box-sizing: border-box;
    display: inline;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 2px;
}
.hotword-list{
    padding: 0 20px;
    position: relative;
}
.hotword-head h2 {
    line-height: 40px;
    font-size: 16px;
    color: #999;
    font-weight: normal;
}
.hotword-head .refresh {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  width: 100px;
  height: 40px;
  line-height: 40px;
  color: #999;
  font-size: 16px;
  text-align: right;
  padding-right: 21px;
}
.icon-change{
    font-size: 12px;
    color: #aaa;
    margin-right: 8px;
}
.hotword-list ul{
    overflow: hidden;
     border-bottom: 1px solid #f0f0f0;
     padding-bottom: 10px;
     margin-top: -7px;
}
.hotword-list ul .hotword-item {
    width: 50%;
    float: left;
    height: 38px;
    line-height: 38px;
}
.hotword-item a{
    font-size: 18px;
    color: #333;
}
.hotletter{
    display: inline-block;
    vertical-align: top;
    font-size: 13px;
    color: #f43531;
    padding-left: 4px;
    margin-top: -8px;
}
.newsinfo{margin: 15px 0;}
.newsinfo-right{
    float: right;
    width: 66%;
    box-sizing: border-box;
    padding-left: 10px;
}
.newsinfo-right .news-head{
    padding-top: 0;
    padding-bottom: 10px;
}



/**********foot************/
.foot-xuan{
    padding: 0 28px;
}
.page-foot ul li {
  height: 33px;
  line-height: 33px;
  text-align: left;
}
.page-foot ul li a{
  position: relative;
  height: 33px;
  overflow: hidden;
  display: block;
  padding-left: 21px;
  font-size: 13px;
  color: #555;
}
.page-foot ul li a img{
    width: 15px;
    position: absolute;
    left: 2px;
    top: 8px;
}
.page-foot ul li a img.hoticon1{
    top: 12px;
}
.foot-content{
    text-align: center;
    padding: 10px 28px 20px;
}
.foot-respet a {
    position: relative;
    display: inline-block;
    height: 34px;
    width: 95px;
    line-height: 34px;
    color: #666;
    font-size: 13px;
}
.icon-feedback{
    width: 16px;
    vertical-align: top;
    margin-top: 7px;
    margin-right: 5px;
}
.foot-content p{
    height: 20px;
    line-height: 20px;
    padding: 6px 0 0;
    font-size: 12px;
    color: #999;
}
/**********************/
@media (max-width: 767px) {
  .wrap {
    display: none;
  }
  .page{
    display: block;
  }
  .seachfield{
    display: block;
  }
  .search_text{
    display: block;
    box-sizing: border-box;
    width: auto;
    padding: 7px 42px 7px 6px;
    height: 42px;
    line-height: 28px;
    box-flex: 1;
    -webkit-box-flex: 1;
    border:none;
  }
  form .button{
    width: 82px;
    height: 42px;
    font-size: 16px;
  }
}